
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url('https://phonoteka.org/uploads/posts/2021-05/1621884201_15-phonoteka_org-p-fon-stroika-vektor-16.png');
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header{
    height: 90px;
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
}
h1{
    margin: 0px;
    padding: 0px;
}
.logo{
    float: left;
    height: 100%;
    width: 70px;
    position: relative;
    margin-left: 5px;
}
.logo img{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.stas{
    height: 100%;
    position: relative;
    float: left;
    min-width: 70%;
    max-width: 80%;
}
.companyName{
    width: 33%;
    height: 100%;
    font-size: 32px;
    text-align: center;
    float: left;
    position: relative;
}
.companyName .text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.info{
    width: 33%;
    min-width: 350px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    float: left;

}
.info .addres{
    width: 100%;
    height: 50%;
    max-height: 60%;


}

.info .numberPhone{
    width: 100%;
    height: 50%;
    min-height: 40%;


}
.info .imgIcon{
    width: 10%;
    height: 100%;
    float: left;
    position: relative;
}


.imgIcon img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.addres img{
    width: 41px;
    height: 41px;
}
.numberPhone img{
    width: 36px;
    height: 36px;
}

.info .text{
    width: 88%;
    height: 100%;
    float: right;
    position: relative;
    text-align: left;
    padding-left: 5px;

}
.info .textHelp{
    position: absolute;
    top: 50%;
    font-size: 18px;
    transform: translate(0,-50%);
}

.ButtonMenu{
    display: none;
}
.phoneNav{
    display: none;
}
.nav_menu{
    float:right;
    height: 100%;
    max-width: 33%;
}
.nav_menu ul{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;

}
.nav_menu li:hover .textHelp{
    border-bottom: 3px solid grey;
    cursor: pointer;
    position: absolute;
}
.nav_menu ul li {
    display: inline-block;
    float: right;
    width: 100px;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
   
}
.nav_menu .textHelp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    box-sizing: border-box;
    border-bottom: 3px;
}
.main{
    /* background: url('https://catherineasquithgallery.com/uploads/posts/2021-03/1614807996_27-p-fon-dlya-stroitelnogo-saita-32.jpg') center no-repeat; */
    height: 100%;
    width: 100%;
    position: relative;
}
.services{
   width: 1200px;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0px auto;
   margin-left: 100px;
   margin-top:70px;
   height: 800px;
   color: aliceblue;
   
}
.services ul {
    height: 700px;
    width: 100%;

    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 2;
    box-sizing: border-box;
}
.services li {
    display: block;
    height: 150px;
    position: relative;
    
}
.services li h2{
    display: block;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.services.active{
    text-align: center;
    font-size: 20px;
    display: inline-block;
    height: 800px;
}
div.cnopca{
    width: 1200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    
}
.services button{
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    height: 60px;
    width: 140px;
    border-radius: 5px;
    
}
.headServices{
    border-bottom: 2px solid skyblue;
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
}
.centerHelp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.services img {
    margin-right: 20px;
    float: left;
}
.services.unactive{
display: none;
transition: 0.7s;
}

div.opisanie_uslug{
    width: 1000px;
    height: 1000px;
    background: rgba(255, 253, 253, 0.63);
    display: none;
}
div.opisanie_uslug.active{
    width: 1000px;
    height: 1000px;
    background: rgba(255, 253, 253, 0.63);
    display: block;
    margin: 0 auto;
    position: relative;
}
div.opisanie_uslug.unactive{
    display: none;
}
div.opisanie_uslug li{
    display: inline-block;
    width: 33%;
    height: 33%;
    text-align: center;
    cursor: pointer;
    position:relative;
}

div.opisanie_uslug ul{
    height: 100%;
    width: 100%;
}
.contacti{
    display: none;
    box-sizing: border-box;
}
.contacti.active{
    display: block;
    width: 1280px;
    margin: 0 auto;
    height: 1000px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    color: aliceblue;
    font-family: fantasy;
}
.contacti.unactive{
    display: none;
}
.dop_cont{
    bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.helpMap{
   
        width: 100%;
        height: 650px;
        margin: 0 auto;
        padding-top: 25px;
}
ul.li_uslugi a {
    text-align: center;
}
.li_uslugi a:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
    }
.block_uslug{
    width: 100%;
    margin: 0px;
    height: 100vh;
}
.image__main img {
    width: 800px;
    height: 500px;
    margin: 20px;
    border-radius: 20px;
}
.image__main{
    width: 50%;
}
.opisa__uslugi{
    width: 50%;
    float: right;
    background-color: rgba(255, 255, 255, 0.767);
    color: black;
    margin-top: 1%;
    text-align: center;
    border-radius: 50px;
}
.foto__uslugi{
    width: 50%;
    margin: 20px;
}
.foto__uslugi img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.foto__uslugi img:hover{
    border: 2px solid white;
    cursor: pointer;
    transition: all 500ms ease; 
}
.cena{
    border:1px solid white;
    background-color: black;
    color: white;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
}
.opisanie__uslugi{
    width: 100%;
    height: 80%;
}
.opisanie__uslugi ul {
    margin: 0px;
    margin-top: 1%;
}
.opisa__uslugi h1{
    font-size: 40px;
}
.opisanie__uslugi img{
    width: 50px;
    height: 50px;
    
}
.opisanie__uslugi li{
    margin: 0px;
    float: left;
    font-size: 40px;
    margin-top: 1%;
}
.block_uslug li {
    height: 10
    0px;
}
.uslug a {
    color: aliceblue;
    text-align: center;
    
}
.uslug a:hover{
    background-color: aliceblue;
    color: black;
    text-align: center;
}
.photo1__photo1{
    display: none;
}
.photo2__photo2{
    display: none;
}
.photo3__photo3{
    display: none;
}
.active{
    display: block;
}
.unactive{
    display: none;
}
.textHelp{
    color: black;
}
div.text{
    color:black;
    float:left;
}