@media screen and (max-width: 678px) {
    .main{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .ButtonMenu{
        display: block;
        width: 30%;
        float: right;
        height: 100%;
        background-color: white;
        box-sizing: border-box;
        position: relative;
        border-left: 1px solid rgb(172, 172, 172);
    }
.HelpImg{
        width: 65px;
        height: 65px;
        float: right;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
       
}
.HelpImg img{
       width: 100%;
       height: 100%;
       display: block;
}
.nav_menu{
       display: none;
       
}
.phoneNav{
    width: 100%;
    height: 105%;
    position:absolute;
    background-color: rgb(43, 41, 41);
    z-index: 2;
    top:-10px;
    
}
.phoneNav ul{
    margin: 0;
    padding: 0;
}
.phoneNav li{
    width: 100%;
    height: 60px;
    color: white;
    border-bottom: 1px solid rgb(187, 187, 187);
}
#main{
    
    position: relative;
}
#contacts{
    position: relative;
}
.phoneNav .textHelp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.info{
       display: none;
}
.companyName{
    width: 70%;
    font-size: 22px;
}
.services{
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    
}

.services ul{
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
}
.services li{
    width: 100%;
    height: 80px;
}
.services li h2{
    font-size: 20px;
    height: 1%;
}
.headServices{
    height: 60px;
}
.contacti.active{
    width: 100%;
    height: 95vh;
    margin: 0;
}
.helpMap{
    width: 100%;
    height: 450px;
    margin: 0 auto;
    padding-top: 5px;
}
.dop_cont li{
    font-size: 19px;
    margin-top: 3px;
}
.dop_cont ul{
    padding: 0;
}
.dop_cont{
    margin-top: 10px;
}
.logo{
    float: left;
    height: 100%;
    width: 60px;
    position: relative;
    margin-left: 5px;
}
.logo img{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}











}