@media screen and (max-width: 1330px) and (min-width:901px) {
    .main{
        width: 100%;
        height: 100%;
    }

    .ButtonMenu{
        display: none;
    }
    .phoneNav{
        display: none;
        position: absolute ;
        top:-1000%;
    }


div.services{
   width: 95%;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0px auto;
   margin-top:40px;
   color: aliceblue;
   
}
.info{
    width: auto;
    height: 100%;
}
.info ul{
    width: auto;
    height: 100%;
}
.info li{
    width: auto;
    margin-left: 0px;
    height: 100%;
}
.contacti.active{
    width: 100%;
    height: 100%;
    margin: 0;
}
.helpMap{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    padding-top: 5px;
}
.dop_cont li{
    margin-top: 3px;
}
.dop_cont ul{
    padding: 0;
}
.dop_cont{
    margin-top: 10px;
}
}
@media screen and (max-width: 900px) and (min-width:679px) {
    .main{
        width: 100%;
        height: 100%;
    }

    .ButtonMenu{
        display: none;
    }
    .phoneNav{
        display: none;
        position: absolute ;
        top:-1000%;
    }
    .companyName{
        width: 32%;
        font-size: 25px;
    }
    .info{
        margin-left: 15px;
        width: 33%;
        min-width: 225px;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        text-align: center;
        float: left;
    
    }
    .info .addres{
        width: 100%;
        height: 50%;
        max-height: 60%;
    
    
    }
    
    .info .numberPhone{
        width: 100%;
        height: 50%;
        min-height: 40%;
    
    
    }
    .info .imgIcon{
        width: 10%;
        height: 100%;
        float: left;
        position: relative;
    }
    
    
    .imgIcon img{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .addres img{
        width: 35px;
        height: 35px;
    }
    .numberPhone img{
        width: 30px;
        height: 30px;
    }
    
    .info .text{
        width: 90%;
        height: 100%;
        float: right;
        position: relative;
        text-align: left;
        padding-left: 5px;
    
    }
    .info .textHelp{
        position: absolute;
        top: 50%;
        font-size: 18px;
        transform: translate(0,-50%);
    }
    .logo{
        float: left;
        height: 100%;
        width: 60px;
        position: relative;
        margin-left: 5px;
    }
    .logo img{
        height: 60px;
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
.services{
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.services{
   width: 95%;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0px auto;
   color: aliceblue;
   margin-top:40px;
   
}
.contacti.active{
    width: 100%;
    height: 100%;
    margin: 0;
}
.helpMap{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    padding-top: 5px;
}
.dop_cont li{
    font-size: 17px;
    margin-top: 3px;
}
.dop_cont ul{
    padding: 0;
}
.dop_cont{
    margin-top: 10px;
}

}